header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #98adf3;
  color: white;
  padding: 10px 20px;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile span {
  margin-right: 10px;
}

.search-bar input {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.search-bar input:focus {
  outline: none;
}

.search-bar input::placeholder {
  color: #ccc;
}

button.favorites {
  background-color: #ffd700;
  color: #0e0d0d;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.logout {
  background-color: #ff5733;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: hand;
}
